body{
    background: #F1F1F1;
}

/*
        main-nav

*/

.navbar-brand{
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}
.my-nav{
    background: #ffffff;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.my-nav .nav-search{
    margin-top: 9px;
    margin-left: 20%;
    border: 1px solid #F1F1F1;
    border-radius: 20px;
    width: 300px;
    height: 30px;
    background: #F1F1F1;
    padding-left: 5px;
    color: #000000;
}
.my-nav .nav-search:focus{
    border: 1px solid #F1F1F1;
    outline-color: #ffffff;
}
footer{
    margin-top: 20px;
    background: #333;
    color: #ffffff;
    min-height: 120px;
    text-align: center;
}
.copy{
    width: 1080px;
    margin: 0 auto;
    line-height: 120px;
}
.back-to-top{

    background: #333;
    color: #eee;
    padding: 10px;
    display: none;
    position: fixed;
    right:30px;
    bottom: 30px;
    border: 1px solid #888;
}
/*.rank-title{*/
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
/*}*/
/*.rank{*/
    /*font-size: 46px;*/
    /*font-weight: bold;*/
    /*color:#c6c6c6;*/
/*}*/
/*.more-link{*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*height: 25px;*/
    /*width: 100%;*/
    /*background: #e5e9ef;*/
    /*border:none;*/
/*}*/
/*.more-link a{*/
    /*color: #000000;*/
    /*text-decoration: none;*/
/*}*/
/*.more-link:hover{*/
    /*background: rgb(204,208,213);*/
/*}*/
/*.more-link:visited{*/
    /*background: rgb(204,208,213);*/
/*}*/
/*.more-link:active{*/
    /*background: rgb(204,208,213);*/
/*}*/
/*.item-group{*/
    /*margin: 0px;*/
/*}*/
/*.glyphicon-chevron-right{*/
    /*color: #337ab7;*/
    /*font-size: 10px;*/
/*}*/
/*.item-title{*/
    /*background: #e5e9ef;*/
    /*border-radius: 4px;*/
    /*padding: 0px;*/
    /*padding-left: 5px;*/
    /*width: 100%;*/
    /*font-size: 20px;*/
    /*height: 26px;*/
/*}*/

/*.item-col{*/
    /*margin-bottom: 25px;*/
/*}*/
/*.b-l{*/
    /*float: left;*/
    /*width: 880px;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
/*}*/
/*.b-l .b-head{*/
    /*width: 99.5%;*/
    /*height: 40px;*/
    /*display: block;*/
    /*white-space: nowrap;*/
    /*position: relative;*/
    /*margin-bottom: 5px;*/
    /*background: #f2f4f6;*/
    /*border: 3px solid #FFFFFF;*/
/*}*/
/*.b-head .b-head-t{*/
    /*padding: 0 10px;*/
    /*margin-right: 15px;;*/
    /*float: left;*/
    /*font-size: 25px;*/
/*}*/
/*.b-head .b-head-t a{*/
    /*padding: 0px;*/
    /*margin: 0px;;*/
    /*line-height: 40px;*/
    /*height: 40px;*/
/*}*/
/*.b-slt-tab{*/
    /*display: inline-block;*/
    /*font-size: 12px;*/
/*}*/
/*.b-body .v-list{*/
    /*width: 100%;*/
    /*height: 358px;*/
    /*overflow: hidden;*/
    /*padding: 0px;*/
    /*list-style-type: none;*/
/*}*/
/*.b-body .v-list li{*/
    /*padding: 0 10px;*/
    /*display: inline-block;*/
/*}*/
/*.b-body .v-list li .v{*/
    /*width: 270px;*/
    /*height: 179px;*/
    /*font-size: 12px;*/
    /*overflow: hidden;*/
/*}*/
/*.b-body .v-list li .v .img-show {*/
    /*width: 270px;*/
    /*height: 140px;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
/*}*/
/*.b-body .v-list li .v a img{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*outline: 0;*/
/*}*/
/*.b-body .v-list li .v a{*/
    /*text-decoration: none;*/
    /*font-size: 14px;*/
/*}*/
/*.b-body-2 .v-list li{*/
    /*display: inline-block;*/
/*}*/
/*.b-body-2 .v-list{*/
    /*margin: 0px;*/
    /*font-size: 0;*/
    /*width: 100%;*/
    /*height: 358px;*/
    /*overflow: hidden;*/
    /*padding: 0px;*/
    /*list-style-type: none;*/
/*}*/
/*.b-body-2 .v-list li .v{*/
    /*width: 437px;*/
    /*height: 182px;*/
    /*overflow: hidden;*/
/*}*/
/*.b-body-2 .v-list li .v .img-show {*/
    /*width: 437px;*/
    /*height: 182px;*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*text-align: center;*/
/*}*/
/*.b-body-2 .v-list li .v a img{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*outline: 0;*/
/*}*/
/*.main-content{*/
    /*margin-top: 70px;*/
/*}*/
/*.main-content .l-content{*/
    /*background: #FFFFFF;*/
    /*border-radius: 5px;*/
    /*padding: 0;*/
/*}*/
/*.main-content a{*/
    /*color: #000000;*/
/*}*/

/*
        afterLogin
*/
.rank-title{
    word-break: break-all;
    word-wrap: break-word;
}
.rank{
    font-size: 46px;
    font-weight: bold;
    color:#c6c6c6;
}
.more-link{
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 100%;
    background: #e5e9ef;
    border:none;
}
.more-link a{
    color: #000000;
    text-decoration: none;
}
.more-link:hover{
    background: rgb(204,208,213);
}
.more-link:visited{
    background: rgb(204,208,213);
}
.more-link:active{
    background: rgb(204,208,213);
}
.item-group{
    margin: 0px;
}
.item-title{
    background: #e5e9ef;
    border-radius: 4px;
    padding: 0px;
    padding-left: 5px;
    width: 100%;
    font-size: 20px;
    height: 26px;
}

.b-l{
    width: 880px;
    padding: 0px;
    margin: 0px;
}
.b-l .b-head{
    width: 99.5%;
    height: 40px;
    display: block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 5px;
    background: #f2f4f6;
    border: 3px solid #FFFFFF;
}
.b-head .b-head-t{
    padding: 0 10px;
    margin-right: 15px;;
    float: left;
    font-size: 25px;
}
.b-head .b-head-t a{
    padding: 0px;
    margin: 0px;;
    line-height: 40px;
    height: 40px;
}
.b-body-1 ._image-items {
    padding: 0;
    margin: 10px 0 0;
    margin-left: 0px;
    list-style: none;
}
.b-body-1 .image-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 0 5px;
    padding: 10px 10px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    vertical-align: top;
    color: #555;
}

.b-body-1 .image-item .v-work {
    display: block;
    margin-bottom: 7px;
    height: 250px;
}
.b-body-1 .v-work:hover{
    border: 2px solid #00a1d6;
}
.b-body-1 .image-item :visited {
    color: #aaa;
}
.b-body-1 .image-item a {
    color: #555;
}
.b-body-1 .v-work {
    display: inline-block !important;
    position: relative;
    margin-bottom: 7px;
}

a {
    color: #258fb8;
    text-decoration: none;
}
.b-body-1 .image-item .v-user {
    font-size: 11px;
    line-height: 17px;
}
.b-body-1 ._layout-thumbnail {
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    cursor: pointer;
}
.b-body-1 ._thumbnail {
    line-height: 250px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    border: none;
    position: relative;
    z-index: -1;
}
.b-body-1 .image-item .v-title {
    line-height: 18px;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
.b-body-2 .v-list li{
    display: inline-block;
}
.b-body-2 .v-list{
    margin: 0px;
    font-size: 0;
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 0px;
    list-style-type: none;
}
.b-body-2 .v-list li .v{
    position: relative;
    width: 437px;
    height: 300px;
    overflow: hidden;
}
.b-body-2 .v-list li .v .img-show {
    width: 437px;
    height: 300px;
    display: block;
    overflow: hidden;
    text-align: center;
}
.b-body-2 .v-list li .v a img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    outline: 0;
}

.b-body-3 .v-list{
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding: 0px;
    list-style-type: none;
}
.b-body-3 .v-list li{
    padding: 0 10px;
    display: inline-block;
    color: #555;
}
.b-body-3 .v-list li .v{
    width: 270px;
    height: 250px;
    font-size: 12px;
    overflow: hidden;
}
.b-body-3 .v-list li .v .img-show {
    width: 270px;
    height: 200px;
    display: block;
    overflow: hidden;
    text-align: center;

}
.b-body-3 .v-list li .v a img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    outline: 0;
}
.b-body-3 .v-list li .v a{
    display: block;
    text-decoration: none;
    font-size: 14px;
}
.b-body-3 .v-list li .v .t{
    font-weight: bold;
}
.b-body-3 .v-list li .v .v-user{
    color: #555555;
}

.main-content{
    margin-top: 70px;
}
.main-content .l-content{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0;
}
.main-content a{
    color: #000000;
}
.right-1 ,.right-2,.right-3{
    margin-bottom: 30px;
}
.left-1,.left-2,.left-3{
    margin-bottom: 50px;
}
.title-outside {
    width: 100%;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    height: 40px;
    overflow: hidden;
}
.title-outside .title{
    display: table-cell;
    line-height: 40px;
    padding: 0 30px;
    vertical-align: middle;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
}

/*
    show
*/

.my-body{

}
.my-body .my-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}

.my-header{
    height: 164px;
}
.my-header img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}
.my-header .row{
    height: 100%;
}
.u-title{
    height: 50px;
    line-height: 50px;
}
.u-title .u-name{
    display: inline-block;
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    font-weight: 300;
    float: left;
    margin-right: 20px;
}
.u-title .u-has{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-right: 20px;
}
.u-title .u-has span{
    background: #66bd2b;
}
.morebtn{
    margin-top: 5px;
    padding: 0px;
    width: 40px;
    opacity: 0.5;
}
.u-content{
    margin-top: 15px;
}
.u-content span{
    font-size: 20px;
    word-wrap: break-word;
}
.u-att{
    margin-top: 10px;
}
.u-att span{
    margin-right: 10px;
}
.pic-content{
    margin-top: 20px;
}
.works-wrap{

    margin-bottom: 10px;
}
.works-display{
    border-color: #ffffff;
    width: 610px;
    margin: 0 auto 20px;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}
.b-b{
    background: #ffffff;
    position: relative;
}
.b-b .instro{
    margin:  0 auto;
    width: 80%;
    text-align: left;
    padding: 30px 0;
    color: #6d757a;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    border-bottom: 1px solid #e5e9ef;
    position: relative;
}
.b-b .instro #desc{
    max-height: 120px;
    overflow: hidden;
    white-space: pre-wrap;
}
.my-comment{
    width: 80%;
    margin: 20px auto;
}
.my-comment .img-comment{
    display: inline-block;
}
.my-comment .img-comment a img{
    float: left;
    width: 100px;
    height: 100px;
}

.comment-content{
    display: inline-block;
    height: 120px;
}
.textarea1{
    float: left;
    height: 120px;
    padding: 0px;
    margin: 0px;
    width: 550px;
    border: 1px solid #F1F1F1;
    background: #fafafa;
    resize: none;
}
.comment-content .btn{
    float: left;
    width: 80px;
    height: 80px;
    font-size: 14px;
    position: relative;
    top: 15px;
    left: 10px;
    padding: 5px;
    background: #00a1d6;
}
ul.comm-list{
    margin: 10px 0;
    clear: both;
    list-style-type: none;
}
.comm-list .no-more{
    font-family: simhei;
    color: #99a2aa;
    text-align: center;
    padding: 50px 0 50px 0;
}

/*
      member
*/

.mem-body{

}
.mem-body .mem-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}

.mem-header{
    height: 164px;
}
.mem-header img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 0px auto;
}
.mem-header .row{
    height: 100%;
}
.mem-title{
    height: 50px;
    line-height: 50px;
}
.mem-title .mem-name{
    display: inline-block;
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    font-weight: 300;
    float: left;
    margin-right: 20px;
}
.mem-title .mem-has{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-right: 20px;
}
.mem-title .mem-has span{
    background: #66bd2b;
}
.morebtn{
    margin-top: 5px;
    padding: 0px;
    width: 40px;
    opacity: 0.5;
}
.mem-content{
    margin-top: 15px;
}
.mem-content span{
    font-size: 20px;
    word-wrap: break-word;
}
.mem-att{
    margin-top: 10px;
}
.mem-att span{
    margin-right: 10px;
}
.n{
    margin-bottom: 10px;
}
.n .wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.n .wrapper .n-left {
    background: #fff;
    box-shadow: 0 0 0 1px #eee;
    border-radius: 4px;
    padding: 0 8px;
}
.n .wrapper .n-left .n-btn {
    display: inline-block;
    font-size: 14px;
    line-height: 56px;
    padding: 0 16px 0 40px;
    margin-right: 25px;
}
.n .wrapper .n-left a{
    cursor: pointer;
    text-decoration: none;
}
.n .wrapper .n-left .n-btn.active {
    color: #00a1d6;
}
.n-cursor {
    background: #00a1d6;
    width: 0;
    height: 3px;
    transition: all .2s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}
.n-body{
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
}
.n-body .section{
    border-bottom: 1px solid #eee;
    margin-bottom: 21px;
    position: relative;
}
.n-body .section .section-title{
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 33px;
    padding: 0 0 21px;
    position: relative;
}
.section-title  .t .guest {
    display: none !important;
}
.n-illust a{
    color: #000000;
    font-weight: bold;
}
.n-collect a{
    color: #000000;
    font-weight: bold;
}
.section-title .count{
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #777;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-left: 11px;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
.section .more {
    background-image: url('../img2/icons2.png');
    background-position: -310px -404px;
    border: 1px solid #b8c0cc;
    border-radius: 4px;
    color: #6d757a;
    font-size: 12px;
    line-height: 22px;
    transition: border .2s ease;
    padding: 0 19px 0 10px;
    position: absolute;
    top: 6px;
    right: 0;
}
.private-hint {
    color: #6d757a;
    cursor: default;
    display: none;
    font-size: 12px;
    position: relative;
    top: -4px;
}

.empty{
    height: 400px;
}
.illust-heading-l .section-title{
    margin: 0;
    font-weight: bold;
}

.collect-heading-l .section-title{
    margin: 0;
    font-weight: bold;
}


.in-title-link {
    border: 1px solid #b8c0cc;
    border-radius: 4px;
    color: #6d757a;
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    transition: border .2s ease;
    margin-left: 10px;
    vertical-align: middle;
    padding: 0 7px 0 10px;
    position: relative;
    top: -1px;
}


/*
         hot

*/

.h-wrapper{
    margin-top: 70px;
    background: #FFFFFF;
    border-radius: 5px;
}
.h-wrapper ._image-items {
    padding: 0;
    margin: 10px 0 0;
    margin-left: 0px;
    list-style: none;
}
.h-wrapper .image-item {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 213px;
    height: 320px;
    margin: 0 5px;
    padding: 10px 10px 0;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    vertical-align: top;
    color: #555;
}

.h-wrapper .image-item .v-work {
    display: block;
    margin-bottom: 7px;
    height: 270px;
}
.h-wrapper .v-work:hover{
    border: 2px solid #00a1d6;
}
.h-wrapper .image-item :visited {
    color: #aaa;
}
.h-wrapper .image-item a {
    color: #555;
}
.h-wrapper .v-work {
    display: inline-block !important;
    position: relative;
    margin-bottom: 7px;
}

a {
    text-decoration: none;
}
.h-wrapper .image-item .v-user {
    font-size: 11px;
    line-height: 17px;
}
.h-wrapper ._layout-thumbnail {
    display: inline-block;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
    cursor: pointer;
}
.h-wrapper ._thumbnail {
    line-height: 250px;
    width: 100%;
    padding: 0;
    vertical-align: middle;
    border: none;
    position: relative;
    z-index: -1;
}
.h-wrapper .image-item .v-title {
    line-height: 18px;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
.h-wrapper .my-pager{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}