.modal-content{
    background: #ececec;
}
.text-style{
    width: 70%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 21px;
    background: #d3d3d3;
}
.btn{
    width: 70%;
    height: 51px;
    background: #4591fb;
    color: #ffffff;
    border: none;
    font-size: 20px;
     margin: 0 auto;
}
.modal-body a,.form-container a{
    display: block;
    color: #f5683d;
    font-size: 20px;
    margin: 20px;
}
.form-container .form-title{
    font-size: 30px;
    margin-bottom:20px ;
}
/*.box{*/
    /*margin-bottom: 10px;*/
    /*float: left;*/
    /*width: 270px;*/
/*}*/
/*.box img{*/
    /*width: 100%;*/
/*}*/
.navbar-brand{
    color: #000;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar{
    background: white ;
    box-shadow: none;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

@media (max-width: 480px) {
    .masonry {
        margin: 3% 0;
    }
    .masonry .grid-sizer {
        width:100%;
    }
    .masonry .gutter-sizer {
        width: 3%;
    }
    .masonry .box {
        width: 100%;
        margin-bottom: 3%;
    }
    .masonry .box img {
        width: 100%;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .masonry {
        margin: 1% 0;
    }
    .masonry .grid-sizer {
        width: 100%;
    }
    .masonry .gutter-sizer {
        width: 1%;
    }
    .masonry .box {
        width: 100%;
        margin-bottom: 1%;
    }
    .masonry .box img {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .masonry {
        margin: 1% 0;
    }
    .masonry .grid-sizer {
        width:46%;
    }
    .masonry .gutter-sizer {
        width: 1%;
    }
    .masonry .box {
        width: 46%;
        margin-bottom: 1%;
    }
    .masonry .box img {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .masonry {
        margin: 1.875% 0;
    }
    .masonry .grid-sizer {
        width: 30.333%;
    }
    .masonry .gutter-sizer {
        width: 1.875%;
    }
    .masonry .box {
        width: 30.333%;
        margin-bottom: 1.875%;
    }
    .masonry .box img {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .masonry {
        margin: 1% 0;
    }
    .masonry .grid-sizer {
        width: 23.5%;
    }
    .masonry .gutter-sizer {
        width: 1%;
    }
    .masonry .box {
        width: 23.5%;
        margin-bottom: 1%;
    }
    .masonry .box img {
        width: 100%;
    }
}

.content-pic{
    padding: 0px;
    margin: 0px;
}
.loginform{
    position: fixed;
}
.content{
    position: relative;
    left: 27%;
}