<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>JsonTest</servlet-name>
    <servlet-class>com.web.JsonTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonTest</servlet-name>
    <url-pattern>/JsonTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrServlet</display-name>
    <servlet-name>RegistrServlet</servlet-name>
    <servlet-class>com.web.RegistrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrServlet</servlet-name>
    <url-pattern>/api/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreLoginServlet</display-name>
    <servlet-name>PreLoginServlet</servlet-name>
    <servlet-class>com.web.PreLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreLoginServlet</servlet-name>
    <url-pattern>/api/prelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AfterLoginServlet</display-name>
    <servlet-name>AfterLoginServlet</servlet-name>
    <servlet-class>com.web.AfterLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterLoginServlet</servlet-name>
    <url-pattern>/api/afterlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HotServlet</display-name>
    <servlet-name>HotServlet</servlet-name>
    <servlet-class>com.web.HotServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HotServlet</servlet-name>
    <url-pattern>/api/hot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.web.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/api/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.web.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/api/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.web.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/api/comment</url-pattern>
  </servlet-mapping>
 <!--  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   -->
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.web.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/api/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectServlet</display-name>
    <servlet-name>CollectServlet</servlet-name>
    <servlet-class>com.web.CollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectServlet</servlet-name>
    <url-pattern>/api/collect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IllustServlet</display-name>
    <servlet-name>IllustServlet</servlet-name>
    <servlet-class>com.web.IllustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IllustServlet</servlet-name>
    <url-pattern>/api/illust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>com.web.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/api/follow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FansServlet</display-name>
    <servlet-name>FansServlet</servlet-name>
    <servlet-class>com.web.FansServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FansServlet</servlet-name>
    <url-pattern>/api/fans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.web.UpdateServlet</servlet-class>
    
       <init-param> 
            <param-name>filepath</param-name> 
            <param-value>uploadFile</param-value> 
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
    </init-param> 
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/api/update</url-pattern>
  </servlet-mapping>
</web-app>